footer.footer {
  //width: 1920px;
  //height: 208px;

  div.big-footer {
    background-color: #14a85c;
    margin: 50px 0 0 0;
    div.row {
      padding: 0;
      margin: auto;
      display: block;
      //text-align: center;
      div.col-md-3 {
        padding: 0;
        div.footer-logo {
          margin: 15px 0 0 0;
          width: 300px;
          height: 97px;
          border: 2px solid $textSecondary;
          background-color: #ccd3dd;
          text-align: center;
          padding: 10px 0 0 0;
        }
      }
      div.footer-info {
        color: $textSecondary;
      }
      div.col-md-9 {

        div.footer-text {
          //width: 855px;
          //height: 161px;
          font-size: 12px;
          border: 2px solid #eaedf2;
          margin: 15px 0;
          p {
            padding: 10px 25px;
            color: $textSecondary;
          }

        }
      }
    }
  }
  div.mini-footer {
    background-color: $bgColorFooter;
    div.row {
      div.col-md-3 {
        div.join-footer {
          .social {
            float: right;
            span {
              @include font(18px, $textSecondary, 400, $font-regular);
              letter-spacing: 0.45px
            }
            ul {
              padding-left: 0;
              display: inline-block;
              li {
                width: 30px;
                height: 30px;
                display: inline-block;
                a {
                  padding: 0;
                  width: 30px;
                  height: 30px;
                  text-align: center;
                  i {
                    display: block;
                    height: 100%;
                  }
                  .fa-pinterest {
                    background-color: $secondaryColor;
                  }
                  .fa-twitter {
                    background-color: $bgIconSecond;
                  }
                  .fa-facebook {
                    background-color: $bgiconThird;
                  }
                }
              }
            }
          }
        }
      }
      .col-md-9 {
        color: white;
      }
    }
  }
}