.home {

  .down-white {
    padding: 0;
    text-align: center;
    width: 400px;
    height: 34px;
    color: $textHeaderPrimary;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
  }
  .icon {
    background-repeat: no-repeat;
    //background-position: center center;
  }

  .text-h-one {
    width: 924px;
    height: 79px;
    color: $textHeaderPrimary;
    font-size: 36px;
    font-weight: 700;
    line-height: 47.64px;
    text-transform: uppercase;
    text-align: center;
    margin: 73px auto 51px auto;
  }

  p.NewspaperText {
    font-size: 14px;
    text-align: justify;
    display: block;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -moz-column-width: 200px;
    -webkit-column-width: 200px;
    column-width: 200px;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }

  .NewsText {
    font-size: 14px;
    text-align: justify;
    display: inline-block;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -moz-column-width: 200px;
    -webkit-column-width: 200px;
    column-width: 200px;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;

  }
  h2.NewsText {
    text-align: center;
    margin: 64px;
  }

  .down-icons {
    height: 513px;
    background-color: $bgColorPrimaryLight;
    .container {
      .border-bottom {
        .col-xs-12 {
          h2 {
            text-align: center;
            margin: 64px;
          }
        }
      }
    }
  }

  .command-block {
    width: 1170px;
    height: 70px;
    margin: auto;
    text-align: center;
  }

  .text-mini-icons {
    width: 196px;
    height: 31px;
    color: #4e4e4e;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    margin-right: 117px;
  }

  .h2text {
    //width: 572px;
    //height: 74px;
    font-size: 36px;
    text-align: center;
    //padding: 15px;
  }

  .floatRight {
    float: right;
  }

  //qq
  .allIcon {
    background-repeat: no-repeat;
  }

  .text-block {
    column-count: 2;
    column-gap: 35px;
    text-align: justify;
  }

  .HiW-block {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #cccccc;
    background-color: #e84c3d;
    text-align: center;
    background-repeat: no-repeat;
    &:after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 63px;
      background-color: $itemColor1;
      margin-top: 68px;
      position: relative;
      right: 6px;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #333333;
      background-color: #14a85c;
      border-radius: 50%;
      position: relative;
      top: 13px;
      left: 2px;
    }

  }

  .HiW-block-Two {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #cccccc;
    background-color: #e84c3d;
    text-align: center;
    margin-top: 61px;
    background-repeat: no-repeat;
    &:after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #333333;
      background-color: yellow;
      border-radius: 50%;
      position: relative;
      bottom: 117px;
      left: -3px;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 2px;
      height: 63px;
      background-color: $itemColor1;
      margin-bottom: 0;
      position: relative;
      right: -6px;
      bottom: 63px;
    }
  }

  .HiW-text {
    @include font(16px, $bgColorFooter - #111, 400, $font-regular);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 10px;
  }

  .HiW-text2 {
    @include font(16px, $bgColorFooter - #111, 400, $font-regular);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: 75px;
    margin-left: 10px;
  }

  .border-bottom {
    border-bottom: 1px dashed $itemColor1;
  }

  .HiW-block-center {
    text-align: center;
  }

  .HiW-block-right {
    text-align: right;
    .round-green {
      margin: -6px 184px -7px;
    }
  }

  div.DownText {
    text-align: center;
    div.hi-text {
      div.row {

      }
    }
    div.News {
      text-align: justify;
      div.row {
        div.News-text {
          div.col-md-6 {
            p {
              span.simvol {
                color: $secondaryColor;
                display: inline-block;
                position: absolute;
                left: 0;

              }
            }
          }
        }
      }
    }
  }
  div.DoubleButton{
    div.col-md-6{
      text-align: center;
    }
  }
}

