<footer class="footer">
    <div class="big-footer">
        <div class="row container">
            <div class="col-md-3">
                <div class="footer-logo">
                    <a href="#">
                        <img src="../img/logo_copy.png" alt="" title="logo">
                    </a>
                </div>
                <div class="footer-info">
                    <p>
                        Call now: +1-044-147-0235 <br>
                        Email: companyname@gmail.com <br>
                        Email: companyname@gmail.com <br>
                    </p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="footer-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                        veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mini-footer">
        <div class="row container">
            <div class="col-md-3">
                <div class="join-footer">
                    <div class="social">
                        <span>Join us:</span>
                        <ul>
                            <li><a href="" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <p>
                    Copyright &copy; 2016 CompanyName.com
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
</body>
</html>