<main class="home">
    <div class="container down-white">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Our Advantages{h2}
                </p>
            </div>
        </div>
    </div>
    <div class="container six-buttons">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="button-one icon-ad-icon allIcon">
                    <span>Any academic level</span>
                </a>
            </div>

            <div class="col-md-4">
                <a href="#" class="button-one icon-ad-icon2 allIcon">The list of discounts</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="button-one icon-ad-icon3 allIcon">The list of discounts</a>
            </div>
        </div>
    </div>
    <div class="container six-buttons">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="button-one icon-ad-icon4 allIcon">Any academic level</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="button-one icon-ad-icon5 allIcon">The list of discounts</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="button-one icon-ad-icon6 allIcon">The list of discounts</a>
            </div>
        </div>
    </div>

    <div class="text-h-one">
        <div class="row">
            <div class="col-md-12">
                <h1>COMPANYNAME.com has come forward to provide you with high quality papers{h1}</h1>
            </div>
        </div>
    </div>
    <div class="text-tho-colons">
        <div class="row">
            <div class="col-md-12">
                <p class="NewspaperText container">
                    Student years are the best time of one’s life. You are in the prime of your life and hopeful about
                    the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories,
                    and gives you the most faithful friends. However, there is one thing that spoils all the fun –
                    assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that
                    the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have
                    your paper done? Ordering it online is a really convenient option, but you must be sure that the
                    final product is worth the price. EssaysService.com is one of the leading online writing centers
                    that deliver only premium quality essays, term papers, and research papers.

                    Once you place an order and provide all the necessary instructions, one of our writers will start
                    working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will
                    hold an academic degree in the respective area of expertise, which makes it possible for him/her to
                    find the relevant information, carry out exhaustive research, and develop a comprehensible and
                    well-organized document.
                    <br>The final product will meet all your specifications regarding the content and formatting style.
                    What is more, you will not have to proofread it for any grammatical or spelling errors, because our
                    professionals have a really good command of the English language.
                    All the papers EssaysService.com delivers are completely original as we check every single work for
                    plagiarism via advanced plagiarism detection software. You will receive a free plagiarism report
                    together with your essay to show its originality.

                    Being tempted by low prices and promises of quick paper delivery, you may choose another paper
                    writing service. The truth is that more often than not their words are hollow. While the main
                    purpose of such doubtful companies is to cash in on credulity of their clients, the prime objective
                    of EssaysService.com is clients’ satisfaction. We do fulfill our guarantees, and if a customer is
                    displeased with the final paper he/she had received (which hardly ever occurs), he/she will surely
                    get a full refund. However, a refund request is acceptable only within 14 days of the initial
                    deadline.

                </p>
            </div>
        </div>
    </div>
    <div class="down-icons">
        <div class="container">
            <div class="row border-bottom">
                <div class="col-xs-12">
                    <h2>How it works{h2}</h2>
                </div>
                <div class="col-md-4">
                    <div class="HiW-block icon-HiW-1"></div>
                    <div class="HiW-text">1. Place Your<br> Order</div>
                </div>

                <div class="col-md-4 HiW-block-center">
                    <div class="HiW-block icon-HiW-2"></div>
                    <div class="HiW-text">3. Your Order is<br> Completed</div>
                </div>

                <div class="col-md-4 HiW-block-right">
                    <div class="HiW-block icon-HiW-3"></div>
                    <div class="HiW-text">5. Download</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-6 HiW-block-center">
                    <div class="HiW-block-Two icon-HiW-4"></div>
                    <div class="HiW-text2">2. Place Your<br> Order</div>
                </div>
                <div class="col-md-6 HiW-block-center">
                    <div class="HiW-block-Two icon-HiW-5"></div>
                    <div class="HiW-text2">4. Your Order is<br> Completed</div>
                </div>
            </div>
        </div>
    </div>

    <div class="DownText container">
        <div class="hi-text">
            <div class="row">
                <div class="col-md-6">
                    <p>Ordering a Paper at Company.com Is Worth It</p>
                </div>
                <div class="col-md-6 ">
                    <p>{h2}CompanyName.com is the best Essay Writing Service</p>
                </div>
            </div>
        </div>
        <div class="News">
            <div class="row container">
                <div class="News-text">
                    <div class="col-md-6">
                        <p>
                            <span class="simvol">&gt;</span> Any type of writing paper assignment – from a high school
                            essay to university term paper.
                            <br>
                            <span class="simvol">&gt;</span> Our writers always follow the customers' requirements very
                            carefully.
                            <br>
                            <span class="simvol">&gt;</span> 100% original paper and a plagiarism report to prove it.
                            <br>
                            <span class="simvol">&gt;</span> Your order will be delivered in a timely manner. If we fail
                            to meet the deadline, the customer will get his/her money back.
                            <br>
                            <span class="simvol">&gt;</span> A writer who is an expert in the respective field of study.
                            <br>
                            <span class="simvol">&gt;</span> In case the essay or research paper doesn’t satisfy your
                            requirements, you can ask for revision. We will make all necessary changes and edit your
                            work until you are
                            <br>
                            <span class="simvol">&gt;</span> 100% satisfied with the final results. Just make sure that
                            you put in a request for revision within 48 hours of the initial
                            deadline. The only exception is made for 20+ page papers – you may submit your request for
                            revision not later than a month after you receive your paper.
                            <br>
                            <span class="simvol">&gt;</span> Loyal customers have the privilege of buying papers at a
                            reduced price.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            The final product will meet all your specifications regarding the content and formatting
                            style. What is more, you will not have to proofread it for any grammatical or spelling
                            errors, because our professionals have a really good command of the English language.
                            All the papers EssaysService.com delivers are completely original as we check every single
                            work for plagiarism via advanced plagiarism detection software. You will receive a free
                            plagiarism report together with your essay to show its originality.
                            Being tempted by low prices and promises of quick paper delivery, you may choose another
                            paper writing service. The truth is that more often than not their words are hollow. While
                            the main purpose of such doubtful companies is to cash in on credulity of their clients, the
                            prime objective of EssaysService.com is clients’ satisfaction. We do fulfill our guarantees,
                            and if a customer is displeased with the final paper he/she had received (which hardly ever
                            occurs), he/she will surely get a full refund. However, a refund request is acceptable only
                            within 14 days of the initial deadline.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="DoubleButton container">
        <div class="row">
            <div class="col-md-6">
                <a class="ReadMore" href="#">Read more</a>
            </div>
            <div class="col-md-6">
                <a class="ReadMore" href="#">Read more</a>
            </div>
        </div>
    </div>
</main>