.live-chat{
    background: url("/img/live-chat-img.png") no-repeat 5px 50%;
    display: inline-block;
    border: 1px solid $textSecondary;
    background-color: $bgColorPrimaryDark;
    @include font(18px, $textSecondary, 400, $font-semi-bold);
    text-transform: uppercase;
    padding: 25px 15px 25px 70px;
    line-height: 0;
    &:hover{
      text-decoration: none;
      color: $textSecondary;
      background-color: $secondaryColor;
    }
  }
.order-now{
  display: inline-block;
  border: 1px solid $textSecondary;
  background-color: $secondaryColor;
  @include font(18px, $textSecondary, 400, $font-semi-bold);
  text-transform: uppercase;
  padding: 28px 73px 28px 73px;
  line-height: 0;
  float: right;

  &:hover{
    text-decoration: none;
    color: $textSecondary;
    background-color: #14a85c;
  }
}
.down-header-button{
  display: inline-block;
  border: 1px solid $textSecondary;
  background-color: $bgColorPrimaryDark;
  @include font(18px, $textSecondary, 400, $font-semi-bold);
  text-transform: uppercase;
  padding: 10px 0 0 0;
  margin: 12px;
  line-height: 9.53px;
  float: left;
  width: 269px;
  height: 31px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  &:hover{
    text-decoration: none;
    color: $textSecondary;
    background-color: $secondaryColor;
  }
}
.button-one{
  width: 381px;
  height: 162px;
  border: 1px solid #cccccc;
  background-color: $bgColorPrimaryLight;
  @include font(12px, $textSecondary, 400, $font-semi-bold);
  text-transform: uppercase;
  //padding: 28px 73px 28px 73px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color: black;
  line-height: 13;
  

&:hover{
    text-decoration: none;
    color: $textSecondary;
    background-color: #14a85c;
  }

}
.mini-button-one{
  width: 70px;
  height: 70px;
  border: 1px solid $IconColor;
  background-color: $secondaryColor;
  @include font(12px, $textSecondary, 400, $font-semi-bold);
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  //margin: 56px 0 56px 0;
  //line-height: 13;
  &:hover{
    color: $textSecondary;
    background-color: #14a85c;
  }

}
.ReadMore{
  background: url("/img/arrow_copy.png") no-repeat 5px 50%;
  display: inline-block;
  border: 1px solid $textSecondary;
  border-radius: 5px;
  background-color: $bgColorPrimaryDark;
  @include font(18px, $textSecondary, 400, $font-semi-bold);
  text-transform: uppercase;
  padding: 25px 15px 25px 25px;
  line-height: 0;

  &:hover{
    text-decoration: none;
    color: $textSecondary;
    background-color: $secondaryColor;
  }
}