/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-HiW-1 {
  background-image: url(/img/sprite.png);
  background-position: 23px -2615px;
  width: 21px;
  height: 31px;
  display: block;
}

.icon-HiW-2 {
  background-image: url(/img/sprite.png);
  background-position: 23px -8488px;
  width: 26px;
  height: 38px;
  display: block;
}

.icon-HiW-3 {
  background-image: url(/img/sprite.png);
  background-position: 20px 0px;
  width: 30px;
  height: 20px;
  display: block;
}

.icon-HiW-4 {
  background-image: url(/img/sprite.png);
  background-position: 23px -501px;
  width: 24px;
  height: 24px;
  display: block;
}

.icon-HiW-5 {
  background-image: url(/img/sprite.png);
  background-position: 21px -1554px;
  width: 29px;
  height: 29px;
  display: block;
}

.icon-ad-icon-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -5827px;
  width: 22px;
  height: 34px;
  display: inline-block;
  background-repeat: no-repeat;
}

.icon-ad-icon {
  background-image: url(/img/sprite.png);
  background-position: center -4743px;
  display: inline-block;
  background-repeat: no-repeat;

}

.icon-ad-icon2-white {
  background-image: url(/img/sprite.png);
  background-position: -4225px;
  width: 33px;
  height: 34px;
}

.icon-ad-icon2 {
  background-image: url(/img/sprite.png);
  background-position: center -5276px;
  display: inline-block;
  background-repeat: no-repeat;
}

.icon-ad-icon3-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -9583px;
  width: 24px;
  height: 40px;
  display: inline-block;
}

.icon-ad-icon3 {
  background-image: url(/img/sprite.png);
  background-position: center -9030px;
  display: inline-block;
}

.icon-ad-icon4-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -3161px;
  width: 26px;
  height: 32px;
  display: inline-block;
}

.icon-ad-icon4 {
  background-image: url(/img/sprite.png);
  background-position: center -3670px;
  display: inline-block;
}

.icon-ad-icon5-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -6361px;
  width: 33px;
  height: 35px;
  display: inline-block;
}

.icon-ad-icon5 {
  background-image: url(/img/sprite.png);
  background-position: center -6873px;
  display: inline-block;
}

.icon-ad-icon6-white {
  background-image: url(/img/sprite.png);
  background-position: 0px -7968px;
  display: inline-block;
}

.icon-ad-icon6 {
  background-image: url(/img/sprite.png);
  background-position: center -7410px;
  display: inline-block;
}

.icon-call {
  background-image: url(/img/sprite.png);
  background-position: 0px -2100px;
  width: 36px;
  height: 30px;
  display: inline-block;
}

.icon-toll {
  background-image: url(/img/sprite.png);
  background-position: 0px -1044px;
  width: 35px;
  height: 27px;
  display: inline-block;
}

